*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins';
}   
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: #fff;
    z-index: 2;
}
.navbar a{
    color: #333;
}
nav a img{
    width: 3em;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links ul{
    display: flex;
    font-size: 1.2em;
    margin-right: 50px;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li a{
    opacity: 1;
}
.navbar .nav-links ul li.active a{
    color:  rgb(230, 49, 49);
    opacity: 1;
}
.navbar .nav-links ul li a:hover,nav a:hover{
    color: rgb(230, 49, 49);
    text-decoration: underline;
    opacity: 1;
}
.navbar .menu-hamburger{
    color: #333;
    cursor: pointer;
    font-size: 170%;
    position: absolute;
    top: 11px;
    right: 40px;
    display: none;

}
@media screen and (max-width: 980px){
    .navbar{
        top: 0;
        height: 0;
        padding: 0px;
        height: 40px;
        
    }
    .navbar .logo{
        position: absolute;
        top: 1px;
        left: 15px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
   .nav-links{
       top: 0;
       left: 0;
       position: absolute;
       background-color:rgba(230, 229, 223, 0.9);
       width: 100%;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: -110%;
       transition: all 0.5s ease;

   } 
   .nav-links.mobile-menu{
    margin-left: 0;
}
   .nav-links ul{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .navbar .nav-links ul li{
    margin: 25px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
   }
   
}
.poste{
    position: absolute;
}
.poste .administration{
    display: none;
}
.dropbtn{
    background-color:#04aa6d;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.place{
    position: fixed;
    top: 8px;
    right: 70px;
    color: blue;
    z-index: 999;
}
header button i.place{
    font-size: 170%;
}
.vertical_nav{
    width: 300px !important;
    height: 565px;
    z-index: 2;
}
.menu--label{
    font-weight: 600;
    text-transform: uppercase;
}


/* dfdsfsdfs */
/* General */

a:hover{
    opacity: 1;
}
a.btn{
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 600px){
    section{
        padding: 80px 30px;
    }
}
hr{
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}
/*Header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}
header h2{
    font-family: 'Quicksand', sans-serif;
}
header nav{
    display: flex;
}
header nav li{
    margin: 0 15px;
}
@media (max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}
@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
}
section h3.title{
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*hero*/
.hero{
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    z-index : 1;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}
.hero h1{
    font: bold 60px 'Opes Sans', sans-serif;
    margin-bottom: 15px;
}
.hero h3{
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.hero a.btn{
    padding:  20px 46px;
}
@media (max-width: 800px){
    .hero{
        min-height: 600px;
    }
    .hero h1{
        font-size: 48px;
    }
    .hero h3{
        font-size:  24px;
    }
    .hero a.btn{
        padding: 15px 40px;
    }
}

/* our work*/
.our-work .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}
.our-work .grid li.small{
    flex-basis: 40%;
}
.our-work .grid li.large{
    flex-basis: 60%;
}
@media (max-width: 1000px){
    .our-work .grid li.small,
    .our-work .grid li.large{
        flex-basis: 100%;
    }
}

/*future*/
.features{
    background-color: #f7f7f7;
}
.features .grid li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}
.features .grid li i{
    font-size: 50px;
    color: 2196F3;
    margin-bottom: 25px;
}
.features .grid li h4{
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}
.features .grid li p{
    margin: 0;
}
@media (max-width: 1000px){
    .features grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .feature grid li:last-child{
        margin-bottom: 0;
    }
}
@media (max-width: 600px){
    .features grid li{
        flex-basis: 100%;
    }

}
/*reviews*/
.reviews .quote{
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}
.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}
.reviews .author:last-child{
    margin-bottom: 0;
}
@media (max-width: 1000px){
    .reviews .quote{
        font-size: 20px;
    }
    .reviews .author{
        font-size: 16px;
    }
}
/*contact*/
 .contact{
    background-color: #f7f7f7;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}
.contact form input{
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}
.contact form .btn{
    margin: 10px;
    padding: 18px 42px;
}
@media (max-width: 800px){
    .contact form input{
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}